/* LETTERS / GUESSING ZONE  */

.game-tiles {
  display: flex;
  flex-wrap: wrap; /* for long breed names*/
  gap: 0.5rem;
  margin-bottom: 2rem;
  justify-content: center;
  width: 90%;
  max-width: 305px;
  margin: 0 auto;
}

.word {
  display: flex;
  gap: 0.25rem;
}

.letter {
  background: #fff;
  color: #000;
  font-family: 'Special Elite';
}

.blank {
  background: #000;
}

.blank,
.letter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  text-align: center;
  width: 1.5em;
  border-radius: 5px;
  font-size: 1rem;
}

.typewriter {
  margin-top: 1rem;
}

/* KEYBOARD  */

.keyrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.4em;
}

.spacebar {
  align-items: center;
  border: 1px solid #c0c0c0;
  border-radius: 35px;
  background: #8c9eb3;
  background: radial-gradient(
    circle at 50% 35%,
    #333138 35%,
    #1e1c21 63%,
    #0a090b 95%
  );
  display: flex;
  font-family: 'Cutive Mono', 'Times New Roman', Times, system-ui, sans-serif;
  font-size: 1rem;
  font-style: normal;
  height: 4rem;
  justify-content: center;
  line-height: 1rem;
  margin: 1rem auto 0;
  padding: 1rem;
  text-align: center;
  width: 18rem;
}

@media screen and (min-width: 768px) {
  .blank,
  .letter {
    height: 2em;
    width: 2em;
    border-radius: 5px;
    font-size: 1.25rem;
  }
  .keyrow {
    gap: 0.75em;
  }
  .game-tiles {
    max-width: 700px;
  }

  .spacebar {
    border: 3px solid #c0c0c0;
    width: 27rem;
    line-height: 1.25rem;
  }
}

@media screen and (min-width:1000) {
  .blank,
  .letter {
    height: 2.5em;
    width: 2.5em;
    border-radius: 5px;
    font-size: 1.5rem;
  }
}
