/* LETTERS / GUESSING ZONE  */

.game-tiles {
  display: flex;
  flex-wrap: wrap; /* for long breed names*/
  gap: 0.25rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.letter {
  background: #fff;
  color: #000;
}
.blank {
  background: #000;
}

.blank, .letter  {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  text-align: center;
  width: 2.5em;
  border-radius: 5px;
}

/* KEYBOARD  */

.keyrow {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  gap: 0.75em;
}