/* LETTERS / GUESSING ZONE  */

.game-tiles {
  display: flex;
  flex-wrap: wrap; /* for long breed names*/
  gap: 0.25rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.letter {
  background: #fff;
  color: #000;
  font-family: "Special Elite";
}

.blank {
  background: #000;
}

.blank, .letter  {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  text-align: center;
  width: 2.5em;
  border-radius: 5px;
  font-size: 1.5rem;
}

/* KEYBOARD  */

.keyrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 0.75em;
}

.spacebar {
  align-items: center;
  border: 3px solid #c0c0c0;
  border-radius: 35px;
  background: #8C9EB3;
  background: radial-gradient(
  circle at 50% 35%,
  #333138 35%,
  #1e1c21 63%,
  #0a090b 95%
  );
  display: flex;
  font-family: "Cutive Mono", "Times New Roman", Times, system-ui, sans-serif;
  font-size: 1rem;
  font-style: normal;
  height: 4rem;
  justify-content: center;
  line-height: 1.25rem;
  margin: 1rem auto 0;
  padding: 1rem;
  text-align: center;
  width: 27rem;
}