

.keypad {
  border: 3px solid #c0c0c0;
  border-radius: 50%;
  background: #8C9EB3;
  background: radial-gradient(
    circle at 50% 35%,
    #45424C,
    #333138 35%,
    #1e1c21 63%,
    #0a090b 95%
  );
  cursor: pointer;
  font-size: 1.25em;
  font-family: "Cutive Mono", "Times New Roman", Times, system-ui, sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 3.5rem;
  width: 3.5rem;
}

.keypad:hover {
  border-color: #fff;
}
.keypad:focus,
.keypad:focus-visible {
  outline: 4px auto #ada8fc;
}

.keypad:disabled,
.keypad[disabled]{
  border: 3px solid #4c4c4c;
  background-color: #cccccc;
  color: #666666;
}