
.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  padding: 5px;
  border-radius: 50%;
}

.sign {
  background: #fff;
}

.poop {
  background: #63D471;
}

.icon img {
  width: 100%;
}


@media screen and (min-width:768px) {
  .icon {

  width: 4rem;
  height: 4rem;
}
}
