
.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  padding: 5px;
  border-radius: 50%;

}

.sign {
  background: #fff;
}

.poop {
  background: #63D471;
}

.icon img {
  width: 100%;
}