:root {
  font-family: "Montserrat",  Helvetica, Arial,system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

.game-header {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.game-header h1 {
  text-align: center;
  margin: 0;
}

.game-header ul,
.gameover-content ul {
  list-style: none;
  padding-inline-start: 0;
}

.game-header p {
margin: 0;
}

.game-header li p:first-of-type {
margin-bottom: 0.5rem;
}

.pos {
  font-weight: 700;
}



.gameover-content {
  padding: 1rem 2rem;
  position: relative;
}

.gameover-trivia {
  margin-top: 2rem;
}

.gameover-trivia p{
  margin-bottom: 0;
}

.gameover-trivia ul {
  margin-top: 0;
}

.bone-btn {
position: absolute;
    width: 190px;
    height: 140px;
    right: 55px;
    bottom: -190px;
  background: transparent;
  border: none;
}

.bone-btn:hover {
  cursor: pointer;
}

.bone-nubbin-1, .bone-nubbin-2, .bone-nubbin-3, .bone-nubbin-4{
  background:#fff;
  height: 70px;
  width: 70px;
  border: 5px solid #4d4d4d;
  border-radius: 50%;
  position:absolute;
}

.bone-nubbin-1{
  left: 0;
  top: 0;
}

.bone-nubbin-2{
  right: 0;
  top: 0;
}

.bone-nubbin-3{
  top: 64px;
}

.bone-nubbin-4{
  right: 0;
  top:64px;
}

.bone-center {
  background: #fff;
  height: 95px;
  width: 61px;
  border-top: 5px solid #4d4d4d;
  border-bottom: 5px solid #4d4d4d;
  position: absolute;
  left: 65px;
  top: 23px;
  border-width: 5px 0 5px;
}

/* the text and also wider to hide the border of the bone nubbins */
.bone-text {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d4d4d;
  font-weight: 700;
  width: 118px;
  height: 100%;
  position: absolute;
  left: -29px;
  font-size: 1rem;
}